ul{ 
    display:flex;
    list-style-type:none;
    margin:0;
    padding-left:10rem;
    

    
}
li{
    display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
  padding-left: 10px;
 
}

li a{
    display: inline;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
 
li a:hover{
    background-color: transparent;
}


.navbar{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1px 1px 20px;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" ;
    

    
}
hr{

}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color:#fff ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.herosection{
    padding: 0 0 80px;
    position: relative;
    overflow: hidden;
    display: block;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.row{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap:20px;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col1{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    border:2px transparent whitesmoke;
}

.coltxt{
    font-size: 37px;
    max-width:100%;
    margin:0 auto;
    text-align: center;
    padding:0;
    letter-spacing: -0em;
    font-weight: 800;
    color:#256358 ; 
    font-family: inherit;
}

.header{
    display: flex;
    width:50%;
    justify-content:space-between;
    align-items: baseline;
    
}
.logo{
    padding-top: 2.5rem;
}

h1{ 
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display:block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.logotxt{
    padding-left:4rem;
    height: 100px;
    font-size: 3em;
    border-radius: 20px;
    padding-top:0.5px;
    text-shadow: 3px 3px 3px greenyellow;
    color:#256358;
}

.col1prp{
    font-size: 17px;
    line-height:25.6px;
    margin: 30px 0;
    max-width: 100%;
    text-align: center;
    margin-bottom: 38px;
    margin-top: 32px;
    padding: 0 10px 0 0;
    color: #434343;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

.btn{
    font-size: 16px;
    line-height: 3;
    max-width: 320px;
    display: table;
    margin: auto auto;
    letter-spacing: 0.1em;
    font-weight: 700;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 30%;
    background-color: #256358;
    color: #fff;
    text-align: center;
}

a:visited{
    color:#256358 ;
}

a, a:hover{
    cursor: pointer;
    text-decoration: none;
}
a,input{
    outline: none;
}

.col2{
    position: static;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.dog2img{
    position: relative;
    transform: inherit;
    max-width: 100%;
    top: 50%;
    width: 400px;
    
}

.img{
    vertical-align: middle;
    border-style:none;
}

.recipe{
    padding: 72px 0px 72px 0px;
    background-color: #256358;
    display: block;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" ;
}

.section-head h2{
    font-size: 40px;
    margin-bottom: 32px;
    line-height: 48px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    color: #eed5a4;
}

.h2{
    margin-top: 0;
    font-family: 'Nunito', sans-serif;  
}
.section-head p{
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 48px;
    max-width: 335px;
    text-align: center;
    display: table;

}

.recipeprp{
    font-family: 'Nunito', sans-serif;  
     color:#fff;
     margin-top: 24px;
    margin-right: auto;
    margin-bottom: 42px;
    margin-left: auto;
    font-size: 17px;
    line-height: 25.5px;
    max-width: 209px;
    text-align: ;

}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.recipe .recipe-inner{
    display: block;
    margin: auto auto;
    width: 100%;
    max-width: 494px;
}

.row2{
    font-family: 'Nunito', sans-serif;  
   display:flex;
   flex-wrap: nowrap;
   justify-content:space-evenly;
   width: 500px;
   min-height: 50px;
   height:auto;
   margin-right: -15px;
   margin-left: -15px;
}

.recicol{
    display:flex;
    flex-wrap: wrap;
   text-align: center;
   flex: 0 0 50%;
   max-width: 50%;
   position:relative;
   width: 100%;
   min-height: 1px;
   padding-right:40px;
   padding-left: 15px; 
}

.recipe a:visited{
    color: #fff;
}

.recipe img{
    vertical-align:middle ;
    border-style: none;
    width: 160px;
    height: 160px;
    fill: none;
    display: flex;
    flex-flow: column;
}

.p1{
    display:block;
}

.innerrow1{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.innerrow2{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.recipebutton{
    display: flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
}

.btn1 ,.btn2{
    background-color:#eed5a4;
    color: #256358;
    margin-bottom: 15px;
    max-width: 320px;
    margin:0 12px;
    font-size:14px;
    display: table;
    padding:10px;
    letter-spacing: 0.1em;
    font-weight: 700;
    border-radius:8px;
    width:100%;
    text-align: center;
}

.btn1 a{
    color: #256358;
    cursor:pointer;
    text-decoration: none;
    outline: none;
    line-height: normal;
}

.btn1 h3,.btn2 h3{
    color: #256358;
    font-family: 'Nunito', sans-serif;    
}

.esseheader{
    font-size: 80px;
    max-width: 100%;
    margin: 20 auto;
    text-align: center;
    letter-spacing: -0em;
    font-weight: 4rem;
    color: #256358;
    font-family:'Nunito', sans-serif;
    padding:5px;

}

.esseprp{
    font-family: 'Nunito', sans-serif;  
     color:#434343;
     margin-top: 50px;
    margin-right: auto;
    margin-bottom: 42px;
    margin-left: auto;
    font-size: 30px;
    line-height: 30.5px;
    max-width: 500px;
    text-align:center ;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px; 
}

.slider{
    padding-left:17px;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    display: inline-block;

}

.previous-arrow{
    background-image: url(previous.jpg);
}

.slider-tracker{
    opacity: 1;
    width: 705px;
    transform:translate3d(-329px,0px,0px);
    position:relative;
}